/*Custom Font by Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

html {
  scroll-behavior: smooth;
}


/*Font applied to all elements*/
h1,h2,h3,h4,h5,h6,p{
font-family: 'Sora', sans-serif;
color: #fff;
font-weight: 100px;
text-align: center;
}


/*Background Darkmode Color*/
body{
background-color: #292929;
}

/*header css*/
header {
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around; /* Add space between logo and navigation */
  align-items: center;
  font-family: 'Sora', sans-serif;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-right: 20px; /* Add some space between logo and navigation */
  font-family: 'Sora', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the list horizontally */
  align-items: center; /* Center the list vertically */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#logoid{
color: #fff;
  text-decoration: none;
}

#nounder{
  color: #fff;
    text-decoration: none;
}



.button {
  flex: 1;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #414141;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover {
  border-color: #0974f1;
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
}

.button:active {
  box-shadow: 0 0 10px rgba(9, 117, 241, 0.4);
}


.sticky-header {
  position: sticky;
  top: 0;
  z-index: 999;
  border-radius: 20px;
  background-color: #131313; /* Add desired background color */
  color: #fff; /* Add desired text color */
}

.horizontal-line {
  border: none;
  height: 1px;
  background-color: #fff;
  opacity: 0.5;
}




/*hamburger menu*/
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

*{
  font-family: "Sora";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #131313;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}

.menu {
  position: absolute;
  top: 100%;
  margin-top: 1em;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #141414;
}

.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}






/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  header {
    flex-direction: column; /* Stack logo and navigation vertically */
    align-items: center; /* Align items to the left */
  }

  .logo {
    margin-bottom: 20px; /* Add space between logo and navigation on smaller screens */
  }

  nav ul {
    justify-content: flex-start; /* Align navigation items to the left */
  }

  nav ul li {
    margin-right: 10px; /* Reduce margin between navigation items */
  }
  
  
  .button-container {
    display: grid;
  }
  
  
}
